#ignore files in the current directory that end with ~
.*~

#ignore files in subdirectories that end with ~
**/*~

#ignore the build folder
build/
build2/
oldBuild/

#ignore the boost folder
boost/

#ignore the swig/build folder 
swig/build
